.container {
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.allDocumentsContainer {
  //height: 100%;
  //max-width: 18rem;
  //max-height: 100%;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.arrowsContainer {
  display: flex;
  justify-content: space-between;

  > button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}

.arrow:first-child {
  transform: scale(-1, 1);
}