.criminal-case {
    position: absolute;
    left: calc(50% + 248px);
    width: 58px;
    top: 19px;
}

.borderjs {
    border: 5px solid yellow;
}

.buttonToChoose1 {
    display: inline-block;
    position: absolute;
    right: calc(50% + 90px);
    width: 145px;
    height: 377px;
    top: 95px;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    /* border: none; */
}

.buttonToChoose1Active {
    background-color: transparent;
    border: 5px solid yellow;
}

.buttonToChoose1:hover {
    background-color: transparent;
    border: 5px solid yellow;
}

.buttonToChoose2:hover {
    background-color: transparent;
    border: 5px solid yellow;
}

.buttonToChoose3:hover {
    background-color: transparent;
    border: 5px solid yellow;
}

.buttonToChoose2 {
    display: inline-block;
    position: absolute;
    right: calc(50% + -73px);
    width: 145px;
    height: 375px;
    top: 97px;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    /* border: none; */
}

.buttonToChoose3 {
    display: inline-block;
    position: absolute;
    right: calc(50% + -235px);
    width: 145px;
    height: 375px;
    top: 97px;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    /* border: none; */
}