body{
  /* max-width: 1920px;
  max-height: 1080px; */
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
  }
  
  code {
  font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace
  }

.App {
  /* style={{transform: 'scale(1.53)'}} */
  transform: scale(1.53);
  min-height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:start;
  font-size:calc(10px + 2vmin);
  color:#000;
  -webkit-transform-origin:50% 0;
  transform-origin:50% 0
}

  body {
  overflow:hidden;
  background-color:#282c34
  }
  
  .shkaf:hover{
  border:1px solid rgba(0,0,0,.5)
  }

.linkButton{
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding:0 0 10px 0;
  background-color:rgba(183,102,75,.71);
  border:1px solid #e0d093;
  width:100%;
  border-radius:5px;
  color:#fff;
  font-weight:800;
  font-size:20px;
  cursor:pointer;
  z-index: 1;
}

.Buttons{
    width:calc(100% - 4px);
    padding:5px 2px 100px;
    z-index:1
}

button:hover{
  background-color:#b7664b
}

@media (max-width: 980px){
  .App{
    transform: scale(1.4);
  }
}

@media (max-width: 900px){
  .App{
    transform: scale(1.2);
  }
}

@media (max-width: 770px){
  .App{
    transform: scale(1);
  }
}

@media (max-width: 640px){
  .App{
    transform: scale(0.85);
  }
}

@media (max-width: 550px){
  .App{
    transform: scale(0.7);
  }
}

@media (max-width: 450px){
  .App{
    transform: scale(0.6);
  }
}

@media (max-width: 384px){
  .App{
    transform: scale(0.55);
  }
}
@media (max-width: 353px){
  .App{
    transform: scale(0.50);
  }
}

@media (max-width: 320px){
  .App{
    transform: scale(0.45);
  }
}